body {
  margin: 0;
  width: 100%;
  height: auto;

  font-family: "Montserrat";
}

.main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #222;
}

.header {
  width: 100%;
  height: 18vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .burgerMenu {
    height: 100%;
    width: 8%;

    display: flex;
    align-items: center;
    justify-content: start;

    i {
      margin-left: 10%;
      font-size: 45px;

      color: #e4e4e4;

      transition: all .1s ease-in-out;

      cursor: pointer;
    }

    i:hover {
      transform: scale(1.1);
    }
  }

  .navBar {
    height: 100%;
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: end;

    gap: 2%;

    margin-right: 4%;

    button {

      width: 10vw;
      height: 6vh;

      text-decoration: none;
      font-size: 23px;
      font-weight: 400;
      font-family: "Montserrat";
      
      border: none;
      border-bottom: solid 2px #e4e4e400;

      background-color: #00000000;
  
      color: #e4e4e4;

      cursor: pointer;

      &.active {
        border-bottom: solid 2px #e4e4e4;
        font-weight: 800;
        cursor: default;
      }

      &:hover{
        border-bottom: solid 2px #e4e4e4;
      }
    }
  }

  .lastGames {
    height: 100%;
    width: 35;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2%;

    .lastGamesTitle {

      width: 100%;
      height: calc(100%-32px);

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      font-size: 18px;
      font-family: "Montserrat";
      font-weight: 400;

      color: #e4e4e4;
    }

    .lastGamesGraph {

      width: 100%;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 1.5%;

      .lastGameWin {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;

        border: solid 4px #14AE5C;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #14AE5C;
        font-size: 20px;
        font-weight: 700;

        background-color: #3D814E59;
      }

      .lastGameLoss {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;

        border: solid 4px #DF0004;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #DF0004;
        font-size: 20px;
        font-weight: 700;

        background-color: #BE000033;
      }
    }
  }

  .viewTeams {
    height: 100%;
    width: 8%;

    display: flex;
    align-items: center;
    justify-content: end;

    i {
      margin-right: 10%;
      font-size: 45px;

      color: #e4e4e4;
      
      transition: all .1s ease-in-out;

      cursor: pointer;
    }

    i:hover {
      transform: scale(1.1);
    }
  }
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentTitle {
  width: 100%;
  height: 10vh;

  h1{
    width: 100%;
    height: 100%;

    font-weight: 400;

    padding: 2%;

    font-size: 25px;
    font-family: "Montserrat";

    color: #e4e4e4;
  }
}

.mainContainer {
  height: 100vh;
  width: 2vh;
  background-color: red;
}

.strategicProfile {}

.gameIdentity {}

.pieChart {}

.mainKPIs {}